/* Existing CSS */
.queue-system {
  display: flex; /* Arrange elements side-by-side */
}

.queue-list,
.now-serving {
  flex: 1; /* Make both sides equally wide */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
}

h2 {
  font-size: 400%;
}

.queue-list p {
  margin-bottom: 10px;
}

.now-serving {
  /* Center the content both horizontally and vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.now-serving h2 {
  margin-bottom: 0.5rem; /* Adjusted margin */
}

.now-serving .number {
  font-size: 5rem; /* Increase the font size for the number */
  margin-bottom: 0.25rem; /* Adjusted margin */
}

.now-serving .name {
  font-size: 1.2rem; /* Increase the font size for the name */
  margin-bottom: 0.25rem; /* Adjusted margin */
}

.now-serving .button-container {
  margin-top: 0.25rem; /* Adjusted margin */
}

.now-serving .button-container button {
  margin-right: 0.5rem; /* Add some spacing between buttons */
  font-size: 1.2rem; /* Increase the font size for the buttons */
  display: block; /* Change button display to block */
  margin-bottom: 10px; /* Add margin to separate buttons */
  background-color: #0081AA;
  color: #fffcfc;
}

/* New CSS for cell borders */

.queue-list table {
  width: 100%; /* Set the width to 100% of its container */
  border-collapse: collapse; /* Ensures borders between cells */
}  

.queue-list tr { /* Style table rows */
  border-bottom: 1px solid #ddd; /* Add border to bottom of each row */
}

.queue-list td, .queue-list th { /* Style table cells */
  padding: 0.5rem; /* Add padding to cells */
  border: 1px solid #ddd; /* Add border to all sides of cells */
}

.th {
  background-color: #0081AA;
}

/* New CSS for button styles */
.button-container button {
  margin-right: 0.5rem; /* Add some spacing between buttons */
  font-size: 1.2rem; /* Increase the font size for the buttons */
  display: block; /* Change button display to block */
  margin-bottom: 10px; /* Add margin to separate buttons */
  background-color: #0081AA;
  color: #fffcfc;
}

.button-container button.skip {
  background-color: #fc2600; /* Change skip button color to red */
}